body {
    background-color: rgba(0, 0, 255, 0.383)
}
button { 
    width: 117px;
    height:108px;
    background-color: blue;
    font-size: 20px;
    font-weight: bold;
}

table {
    background-color: rgb(175, 180, 181);
}

td {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: left;
    text-decoration-line: underline;
}

p {
    text-align: left;
    border: 15px;
    border-width: 5px;
    border-color: black;


}