body {
    background-color: rgba(0, 0, 255, 0.383);
}
button { 
    width: 117px;
    height:108px;
    background-color: blue;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
button:disabled {
    background-color: rgb(123, 70, 123);
}

table {
    background-color: rgb(175, 180, 181);
    float: inherit;
}

td {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
   
}
div {
    font-size: 30px;
    margin: 60px;
    width: 500px;
    background-color: blue;
    border: 10px;
    border-color: red;
}

h2 {
    text-align: left;
}
h1 {
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    font-size: 30px;
}

p {
    background: #e0dcae;
    color: rgb(5, 38, 169);
    border-radius: 1em;
    padding: 10px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    margin-top: 10%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    font-size: 15px;
}
